<div class="burger-container">
  <div></div>
  <div class="header">
    <h1>Burger Time!</h1>
  </div>
  <div></div>
  <div class="margin">
    <img src="/assets/images/burger.jpg" alt="burger">
  </div>
  <div>

    <div class="table">
      <div>
        <h3>Ready!</h3>
      </div>
      <div>
        <h3>Devoured!</h3>
      </div>
    </div>

    <form action="submit" class="burger-form">
      <input type="text" required name="name" placeholder="Add burger name">
      <button type="submit">Add Burger</button>
    </form>


  </div>
  <div class="margin">
    <img src="/assets/images/burger.jpg" alt="burger">
  </div>
</div>